body{
    background-color: #550000;
    color: white;
    margin:0;
    font-size: 25px;
}

#page {
    margin-inline: 100px;
}

#thing{
    margin-top: 10px;
    margin-inline: 50px;
}

#regular{
    background-color: black;
    width: 100%;
}